*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    background-color: #212121;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.outerbox{
    height: 50vh;
    width: 20vw;
    background-color: rgb(27, 26, 27);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
}

button{
    margin: 3px;
    padding: 2px;
    height: 3rem;
    width: 3rem;
    border-radius: 1.5rem;
    color: white;
    background-color: #0c1e48;
    font-weight: 700;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: large;
    box-shadow: 2px 2px 5px white;
}

#orange{
    background-color: orange;
}

.displaybox{
    height: 60px;
    padding: 5px;
    margin: 10px;
    width: 200px;
    background-color: rgb(70, 135, 191);
    border-radius: 10px;
    color: black;
    font-weight: 700;
    font-size: 30px;
}